.auth-layout {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.auth-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    display: block;
    max-width: 1600px;
    margin: 0 auto;
}

.auth-content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 562px;
    max-width: 600px;
    min-height: 450px;
    padding: 32px;
    border-radius: 24px;
    background: #f5f5f7;
}

@media (max-width: 600px) {
    .auth-content {
        min-width: auto;
    }
}

.home-link {
    display: block;
    text-decoration: none;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.home-link:hover {
    color: #333
}

.auth-logo {
    font-size: 64px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    z-index: 10;
    flex: 1;
}

.auth-form-container {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    width: 85%;
    min-height: 100%;
    height: 100%;
    flex: 1;
    margin: auto;
    text-align: center;
}

.auth-label {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: left;
    color: #0b2e13;
    margin-bottom: 2px;
}

.auth-input {
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 16px;
}

.confirm-btn {
    width: 100%;
    border-radius: 15px;
    padding: 12px;
    margin-top: 15px;
    background-color: #737373;
    color: #fff;
}
.confirm-btn:hover{
    color: #fff;
    background-color: #595959;
}

.auth-color {
    color: #333;
}

.custom-select option {
    padding: 10px;
    font-size: 15px;
    color: #333;
    background: #f9f9f9;
}

.custom-select option:hover {
    background: #3b82f6;
    color: #fff;
}

.auth-offerta {
    width: 100%;
    text-align: left;
    margin: 10px 0;
    padding: 10px 0;
}
.auth-offerta-label {
    margin-left: 10px;
    vertical-align: text-top;
}
.auth-offerta-input {
    width: 18px;
    height: 18px;
}

.modal-box {
    background: #fff;
    height: 100%;
    width: 80%;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.modal-header {
    flex-shrink: 0;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.terms-frame {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    overflow: auto;
}
.modal-footer {
    flex-shrink: 0;
    padding: 12px;
    border-top: 1px solid #eee;
    background: #fff;
    text-align: right;
}
.close-btn{
    font-size: 24px;
}
